<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <script src="https://cdn.tailwindcss.com"></script> --}}
    <!-- tailwind css link by style.css for output -->
    <link rel="stylesheet" href="./styles/style.css">
    <!-- outer css link by style1.css-->
    {{!--
    <link rel="stylesheet" href="style1.css"> --}}
    <!-- fontawesome icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>client-testimonial</title>



    <style>
        body {
            font-family: 'Poppins', 'Montserrat', sans-serif;
        }

        h1,
        h2,
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            /* Bold for headings */
        }

        .clientbg {
            background-image: linear-gradient(to right, #bf8cb5 0%, #bea6a6 50%, #b5d397 100%);
        }

        /*OUR CLIENT AND TESTIMONIAL SECTION START*/

        .slider-container {
            position: relative;
            overflow: hidden;
            height: 100%;
        }

        .slider {
            display: flex;
            transition: transform 1s ease-in-out;
        }

        .slide {
            min-width: 100%;
            transition: opacity 1s ease-in-out;
        }

        /*OUR CLIENT AND TESTIMONIAL SECTION END*/

        @media (max-width: 640px) {
            .textxhange {
                font-size: 12px !important;
                font-family: 'Poppins', 'Montserrat', sans-serif;
            }
        }
    </style>
</head>

<body class="">


    <!-- oUR CLIENT AND TESTIMONIAL SECTION START -->
    <div class="clientbg">
        <div class="container mx-auto px-4 pt-12">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- Left side -->
                <div>
                    <!-- Title with underline -->
                    <div class="text-center mb-16">
                        <h2 class="text-2xl font-bold text-blue-600">Our Clients</h2>
                        <div class="h-2 rounded-full bg-orange-400 w-24 mx-auto mt-2"></div>
                    </div>
                    <!-- Grid of images -->
                    <div class="grid grid-cols-3 gap-4 xl:px-4 gap-y-8">
                        <!-- First row of images -->
                        <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/vodafone-2.jpg" alt="Image 1"
                            class="w-full xl:w-40 h-auto">
                        <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Argus-Logo-3.jpg"
                            alt="Image 2" class="w-full xl:w-40  h-auto">
                        <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Gum-Drops-2.jpg" alt="Image 3"
                            class="w-full xl:w-40 h-auto">
                        <!-- Second row of images -->
                        <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Sky-slope-2.jpg" alt="Image 4"
                            class="w-full xl:w-40 h-auto">
                        <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Cabinet-Office-1-1.jpg"
                            alt="Image 5" class="w-full xl:w-40 h-auto">
                        <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/John-Hopkins-2.jpg"
                            alt="Image 6" class="w-full xl:w-40  h-auto">
                    </div>
                </div>
                <!-- Right side with card -->
                <div>
                    <!-- Title with underline -->
                    <div class="text-center mb-12">
                        <h2 class="text-2xl font-bold text-blue-600">Testimonials</h2>
                        <div class="h-2 rounded-full bg-orange-400 w-24 mx-auto mt-2"></div>
                        {{!-- <div class="bg-orange-400 h-[6px] w-12 rounded-full mt-8 xl:ml-8"></div> --}}

                    </div>
                    <!-- Cards -->
                    <div class="slider-container h-80">
                        <div class="slider">
                            <!-- First card -->
                            <div class="slide flex flex-col">
                                <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Argus-Logo-3.jpg"
                                    alt="Card Image 1" class="mx-auto w-full sm:w-32 h-auto mb-4 cardslideimg">
                                <p class="text-slate-600 my-4 text-sm ">“I have interacted with lot of
                                    development firms
                                    and
                                    mantrabytes
                                    is among the most responsive in terms of listening to our needs and striving
                                    to
                                    excel at
                                    them. We created a service at a fraction of cost of our competitors.”
                                </p>
                                <div>
                                    <p class="mt-4 text-xl text-blue-600">Shanda</p>
                                    <p class="text-blue-600">CEO, Gum Drops</p>
                                </div>
                            </div>
                            <!-- Second card -->
                            <div class="slide flex flex-col">
                                <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/earthlink-2.png"
                                    alt="Card Image 2" class="mx-auto w-full sm:w-32 h-auto mb-4 cardslideimg">
                                <p class="text-slate-600 my-4 text-sm">“So far, one of the best providers when
                                    it
                                    comes
                                    to
                                    SEO and
                                    Traffic Improvement. We will continue to work with mantrabytes. Great Team!”
                                </p>
                                <p class="mt-4 text-xl text-blue-600">Smith Tyler</p>
                                <p class="text-blue-600">CEO, SkySlopeInc., USA</p>
                            </div>
                            <!-- Third card -->
                            <div class="slide flex flex-col">
                                <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/skyslope-1.png"
                                    alt="Card Image 3" class="mx-auto w-full sm:w-32 h-auto mb-4 cardslideimg">
                                <p class="text-slate-600 my-4 text-sm">mantrabytes is one of the best companies
                                    I have
                                    worked
                                    with that
                                    does offshore development. They are very quick and do things the way that
                                    were
                                    discussed
                                    and have exceeded what I wanted done”
                                </p>
                                <p class="mt-4 text-xl text-blue-600">
                                    Mark Joseph </p>
                                <p class="text-blue-600">Product Director, Global Network Services Vodafone , UK
                                </p>
                            </div>
                            <!-- Fourth card -->
                            <div class="slide flex flex-col">
                                <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Gum-Drops-2.jpg"
                                    alt="Card Image 4" class="mx-auto w-full sm:w-32 h-auto mb-4 cardslideimg">
                                <p class="text-slate-600 my-4 text-sm">mantrabytes is one of the best companies I
                                    have
                                    worked
                                    with that
                                    does offshore development. They are very quick and do things the way that
                                    were
                                    discussed
                                    and have exceeded what I wanted done”
                                </p>
                                <p class="mt-4 text-xl text-blue-600">Smith Tyler</p>
                                <p class="text-blue-600">CEO, SkySlopeInc., USA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUR CLIENT AND TESTIMONIAL SECTION END -->




    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    <script>

        // OUR CLIENT AND TESTIMONIAL SECTION START 
        // JavaScript for cycling through cards with sliding effect
        const slider = document.querySelector('.slider');
        const slides = document.querySelectorAll('.slide');
        let currentIndex = 0;

        function slide() {
            currentIndex = (currentIndex + 1) % slides.length;
            slider.style.transform = `translateX(-${currentIndex * 100}%)`;

            if (currentIndex === slides.length - 1) {
                setTimeout(() => {
                    slider.style.transition = 'none';
                    slider.style.transform = `translateX(0)`;
                    currentIndex = 0;
                    setTimeout(() => {
                        slider.style.transition = 'transform 1s ease-in-out';
                    }, 50);
                }, 1000);
            }
        }

        setInterval(slide, 5000);
        // OUR CLIENT AND TESTIMONIAL SECTION END 

    </script>
</body>

</html>