<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- fontawesome icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- output file link in below -->
    <link rel="stylesheet" href="styles/style.css">
    {{!-- below link for font-family --}}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@400;600&display=swap"
        rel="stylesheet">
</head>

<style>
    /*our client with testimonial css start*/
    .clientbg {
        background-image: linear-gradient(to right, #bf8cb5 0%, #bea6a6 50%, #b5d397 100%);
    }

    .companyoverview {
        background-image: linear-gradient(to right, #afcb93 0%, #decaca 50%, #c286a6 100%);
    }

    /*our client with testimonial css end*/

    body {
        font-family: 'Poppins', 'Montserrat', sans-serif;
    }

    h1,
    h2,
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        /* Bold for headings */
    }

    /*NAVBAR CSS START HERE*/

    .bggradientfooter {
        background-image: linear-gradient(to right, #d8d4b5 0%, #decaca 50%, #c286a6 100%);

    }


    /* Company overview start here */
    .custom-button {
        border-left-width: 4px;
        border-right-width: 4px;
        border-top-width: 1px;
        border-bottom-width: 4px;
        border-color: transparent;
        transition: border-color 0.3s;
    }

    .custom-button:hover {
        border-color: rgb(187, 26, 223);
    }

    .custom-button2 {
        border-left-width: 4px;
        border-right-width: 4px;
        border-color: transparent;
        transition: border-color 0.3s;
    }

    .custom-button2:hover {
        border-color: rgb(207, 130, 30);
    }

    /* Company overview end here */




    /*FOOTER start*/

    .listchange {
        list-style: none !important;
        font-size: 14px !important;
    }

    .listchange i {
        font-size: 10px !important;
    }

    .hidden {
        display: none;
    }

    .error-border {
        border-color: red !important;
    }

    /* Custom CSS for border transition */
    .border-transition {
        transition: border-color 0.5s ease;
    }

    .focus\:border-blue-500:focus {
        border-color: #3b82f6;
        /* Tailwind's blue-500 color */
    }

    /*Footer*/
    /*footer logo css*/
    /* Styles for the animated logo */
    #mantraLogo {
        animation: changeColor 5s infinite alternate;
        cursor: pointer;
    }

    /* Keyframes for color change animation */
    @keyframes changeColor {
        0% {
            color: #FF9900;
        }

        25% {
            color: #FF00FF;
        }

        50% {
            color: #00FF00;
        }

        75% {
            color: #00FFFF;
        }

        100% {
            color: #FF0000;
        }
    }
</style>

<body>
    {{!-- <h1>hi</h1> --}}
    <!-- NAVBAR  START HERE-->
    {{>navbar}}
    <!-- NAVBAR END HERE-->

    <!-- CONTACTUS HOME PAGE IMAGE START HERE -->
    <div class="bgcolor">
        <div class="overflow-hidden w-full relative h-auto">
            <img src="../images/aboutus.jpg"
                class="block w-full h-full sm:h-[40rem] object-cover bg-cover bg-center bg-no-repeat bg-opacity-50"
                alt="img not found">
        </div>
    </div>
    <!-- CONTACTUS HOME PAGE IMAGE END HERE -->

    <!-- START  three link below in img  -->
    <div class="companyoverview">
        <div class="container sm:w-3/4 mx-auto pt-4 sm:pt-8">
            <ul class="flex list-none no-underline px-1" id="threelist">
                <li><a href="https://netedgecomputing.com/index.php/services/cloud-transformation-solutions/"
                        class="hover:text-orange-600 sm:text-[17px] text-[9px]"> Home <i
                            class="fa fa-chevron-right text-orange-600 changesize text-[10px] sm:text-xs"></i>

                    </a></li>
                <li class="mx-8"><a
                        href="https://netedgecomputing.com/index.php/services/cloud-transformation-solutions/"
                        class="hover:text-orange-600 sm:text-[17px] text-[9px]"> About Us <i
                            class="fa fa-chevron-right text-orange-600 text-[10px] sm:text-xs"></i>
                    </a></li>
            </ul>
        </div>
    </div>

    <!-- END  three link below in img  -->


    <!-- Company overview start here -->
    <div class="flex flex-wrap lg:flex-nowrap py-4 px-20  xl:pt-16 py-8 companyoverview">
        <!-- Left Side (70% width) -->
        <div class="w-full lg:w-7/10 p-4">
            <div class="text-left mb-8">
                <h2 class="text-2xl font-bold text-blue-600">Company Overview</h2>
                <div class="h-2 rounded-full bg-orange-400 w-24 mt-2"></div>
            </div>
            <p>
                <span class="text-sm text-slate-600 leading-8">
                    Mantrabytes, established in June 1992, has become a pioneer in computer science consulting and
                    development. We foster strong partnerships with our clients, and our team is deeply invested in
                    their success.

                    We collaborate closely with clients to design and implement cutting-edge computer science solutions
                    that address their specific needs and accelerate their journey towards achieving their goals. Our
                    proven track record demonstrates success in delivering customized solutions and building teams that
                    consistently deliver within agreed time and budget.
                </span>

                <span class="text-slate-600 text-sm leading-8">
                    Mantrabytes empowers businesses of all sizes across various industries. Our expertise spans sectors
                    like e-commerce, retail, technology, healthcare, finance, and more. This deep understanding
                    positions us uniquely to deliver domain-specific solutions and services that leverage the latest
                    advancements in computer science and industry best practices.

                    Over the past two decades, clients have partnered with Mantrabytes to manage their technical
                    infrastructure and critical business operations, allowing them to focus on core competencies. This
                    partnership approach empowers them to gain a significant competitive advantage in today's global
                    market.
                </span>

                <br>

                <span class="text-slate-600 text-sm  leading-8">
                    Mantrabytes prioritizes exceeding client expectations by ensuring every interaction is positive and
                    value-driven. Our commitment to "last-mile redundancy" guarantees that we deliver on our promises.
                </span>

                <br>

                <span class="text-sm text-slate-500 hover:text-green-800">
                </span>

                <br>

                <span class="text-sm text-slate-600 leading-8">
                    Mantrabytes serves a wide range of clients, from startups and SMEs to Fortune 500 companies, across
                    various industries globally.
                </span>
            </p>
        </div>

        <!-- Right Side (30% width) -->
        <div class="w-full lg:w-3/10 pt-24 flex flex-col space-y-4">
            <!-- Card 1 -->
            <div
                class="bg-gray-300 p-4 hover:shadow-xl  shadow-sm border hover:bg-blue-100 group/edit transition duration-300 ease-in-out">
                <div
                    class="card-header text-center group-hover/edit:text-white text-xl group/item font-bold text-blue-600 cursor-pointer">
                    Value Proposition
                </div>
                <div class="card-content mt-2 text-sm text-slate-600 group-hover/edit:text-green-500">
                    <p>Discover the unique value that Mantrabytes brings to your business, leveraging cutting-edge
                        technology and innovative solutions.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div
                class="bg-gray-300 p-4 hover:shadow-xl  shadow-sm border hover:bg-blue-100 transition duration-300 ease-in-out">
                <div class="card-header text-center text-xl font-bold text-blue-600 cursor-pointer">
                    Methodology
                </div>
                <div class="card-content mt-2 text-sm text-slate-600">
                    <p>Learn about our structured approach to problem-solving, integrating industry best practices and
                        computer science principles.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div
                class="bg-gray-300 p-4 hover:shadow-xl hover:bg-blue-100  shadow-sm border transition duration-300 ease-in-out">
                <div class="card-header text-center text-xl font-bold text-blue-600 cursor-pointer">
                    Team
                </div>
                <div class="card-content mt-2 text-sm text-slate-600">
                    <p>Meet our dedicated team of experts who are passionate about driving technological innovation and
                        excellence.</p>
                </div>
            </div>
            <!-- Card 4 -->
            <div
                class="bg-gray-300 p-4 hover:shadow-xl  hover:bg-blue-100 shadow-sm border transition duration-300 ease-in-out">
                <div class="card-header text-center text-xl font-bold text-blue-600 cursor-pointer">
                    Management
                </div>
                <div class="card-content mt-2 text-sm text-slate-600 ">
                    <p>Explore our management strategies that align with modern business goals and technological
                        advancements.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Company overview end here -->


    {{!-- signup page start here --}}
    {{>signuppage}}
    {{!-- signup page end here --}}


    {{!-- Our client with Testimonial page start here --}}
    <div class="pb-28 clientbg">
        {{>clienttestimo}}
    </div>
    {{!-- Our client with Testimonial page end here --}}


    {{!-- NetEdge At a Glance(video img) page start here --}}
    {{>videoimg}}
    {{!-- NetEdge At a Glance(video img) page end here --}}



    <!--footer start  -->

    <footer>
        <!-- this div used to separate copyright div -->
        <div
            class="pl-6 pr-4 pt-16 pb-6 text-slate-600 leading-8 text-pretty bggradientfooter text-sm md:pl-16 lg:flex lg:justify-evenly lg:pl-4 lg:pr-4 lg:pt-16">
            <!-- div for medium screen setup: Grouping logo, 1st list, services -->
            <div class="md:flex md:mb-10">
                <!-- div for medium screen setup: Grouping logo, 1st list -->
                <div class="md:pr-52 lg:p-2 lg:m-2 lg:w-60">
                    <!-- logo -->
                    <!-- Animated Logo -->
                    <h4 class="font-bold text-lg text-blue-600 relative z-10">MantraBytes</h4>
                    <hr class="border-b-2 mt-2 mb-3">
                    <!-- Animated Logo end -->
                    <!-- logo end -->
                    <!-- 1st list start -->
                    <div class="mb-6">
                        <ul class="list-inside listchange">
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    About Us</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Value
                                    Proposition</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Methodology</a>
                            </li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Team</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Management</a>
                            </li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Contact us</a></li>
                        </ul>
                    </div>
                    <!-- 1st list end -->
                </div>
                <!-- [div for medium screen setup: Grouping logo, 1st list] Ends here -->

                <!-- Services start -->
                <div class="mb-6 md:w-96 lg:p-2 lg:m-2 lg:w-60">
                    <h4 class="font-bold  text-blue-600 text-lg">Services</h4>
                    <hr class="border-b-2 mt-2 mb-3">
                    <ul class="list-inside listchange">
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Cloud
                                Transformation Solutions</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                AI and
                                Cognitive Analytics</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Enterprise
                                Cyber Security</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                IoT and
                                Automation</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Application
                                Development and
                                <span class="ml-3">Maintenance</span></a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                eBusiness
                                Digital Solutions</a></li>
                    </ul>
                </div>
                <!-- Services Ends-->
            </div>
            <!-- [div for medium screen setup: Grouping logo, 1st list, services] Ends here-->

            <!-- div for medium screen setup: Grouping Recent Posts, Subscribe, Social Link-->
            <div class="md:flex">
                <!-- Recent Posts -->
                <div class="mb-6 md:pr-7 lg:p-2 lg:m-2 lg:w-60">
                    <h4 class="font-bold  text-blue-600 text-lg">Recent Posts</h4>
                    <hr class="border-b-1 mt-2 mb-3">
                    <ul class="listchange">
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>
                                Designing a Cost
                                Effective Cloud Solution for your
                                business.</a>
                        </li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Driving
                                Innovation and <span class="ml-3"> Automation across an Enterprise
                                </span> <span class="ml-3">to Growth Hacking.</span></a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                E-Commerce
                                Services Guide: <span class="ml-3">Right from Proof-of-Concept to</span>
                                <span class="ml-3">simplementation.</span></a></li>
                    </ul>
                </div>
                <!-- Recent Posts Ends -->

                <!-- div for medium screen setup: Combining Subscribe, Social Link -->
                <div class="md:pl-10 lg:p-2 lg:m-2 lg:w-60 xl:ml-16">
                    <!-- Subscribe starts here -->
                    <div class="mb-6">
                        <h4 class="font-bold  text-blue-600 text-lg">Subscribe</h4>
                        <hr class="border-b-1 mt-2 mb-3 md:w-96 lg:w-full">
                        <div class="mt-7">
                            <input type="text"
                                class="bg-slate-300  w-full h-12 md:w-96 lg:w-full px-4 border border-transparent outline-none focus:border-[1px] rounded border-transition"
                                id="email-input" placeholder="ENTER YOUR EMAIL">
                            <p id="error-message" class="text-red-500 text-sm mt-2 hidden">Field is
                                required</p>
                            <button type="submit" id="subscribe-button"
                                class="bg-[#011bab] w-full h-12 text-white mt-5 rounded md:w-96 lg:w-full">Subscribe</button>

                        </div>
                    </div>
                    <!-- Subscribe Ends here -->

                    <!-- Social Link starts -->
                    <div>
                        <h4 class="font-bold  text-blue-600 text-lg">Social Links</h4>
                        <hr class="border-b-1 mt-2 md:w-96 lg:w-full">
                        <div class="flex justify-center">
                            <a target="_blank" href="http://www.linkedin.com" title="Follow us on Linkedin"><img
                                    src="https://s.yimg.com/fz/api/res/1.2/oPmnuoHGZwDmud64pDGAcQ--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/051c505f-dc29-3303-81b2-5828c6e3b2e2/t_500x300"
                                    alt="LinkedIn" class="h-5 ml-2 mr-2 mt-2"></a>
                            <a target="_blank" href="" title="Follow us on Facebook"><img
                                    src="https://www.teahub.io/photos/full/11-115962_facebook-logo-png-transparent-background-facebook-png.png"
                                    alt="Facebook" class="h-7 ml-2 mr-2 mt-1"></a>
                            <a target="_blank" href="https://www.instagram.com/" title="Follow us on Instagram"><img
                                    src="http://clipart-library.com/images_k/instagram-transparent-png/instagram-transparent-png-4.png"
                                    alt="Instagram" class="h-7 mt-1"></a>
                            <a target="_blank" href="" title="Follow us on Twitter"><img
                                    src="https://www.freeiconspng.com/uploads/circle-twitter-logo-png-photo-13.png"
                                    alt="Twitter" class="h-6 ml-2 mr-2 mt-[5px]"></a>

                        </div>
                    </div>
                    <!-- Social Link End -->
                </div>
                <!-- [div for medium screen setup: Combining Subscribe, Social Link] Ends here-->
            </div>
            <!-- [div for medium screen setup: Grouping Recent Posts, Subscribe, Social Link] Ends here-->
        </div>

        <!-- copyright starts here-->
        <div
            class="container px-5 py-8 mx-auto flex bg-blue-900 text-white body-font items-center sm:flex-row flex-col">
            <p class="text-sm text-center sm:text-left">© 2024 Mantrabytes Innovations — All rights
                reserved</p>
        </div>
        <!-- copyright Ends here-->

    </footer>

    <!--footer end  -->





    <script>
        // footer js star
        const emailInput = document.getElementById('email-input');
        const subscribeButton = document.getElementById('subscribe-button');
        const errorMessage = document.getElementById('error-message');

        subscribeButton.addEventListener('click', function () {
            if (emailInput.value.trim() === '') {
                errorMessage.classList.remove('hidden');
                emailInput.classList.add('error-border');
            } else {
                errorMessage.classList.add('hidden');
                emailInput.classList.remove('error-border');
                // Add form submission logic here if needed
            }
        });

        // its js for input border transition
        emailInput.addEventListener('focus', function () {
            errorMessage.classList.add('hidden');
            emailInput.classList.remove('error-border');
        });

        emailInput.addEventListener('blur', function () {
            emailInput.classList.remove('error-border');
        });
        // footer js end 
    </script>
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</body>

</html>