<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resoure-center</title>
    {{!--
    <script src="https://cdn.tailwindcss.com"></script> --}}
    <!-- this below style1.css link for using some media query for responsive  -->
    <link rel="stylesheet" href="style1.css">
    <!-- tailwind css link by style.css for output -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- fontawesome icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<style>
    /*our client with testimonial css start*/
    .clientbg {
        background-image: linear-gradient(to right, #bf8cb5 0%, #bea6a6 50%, #b5d397 100%);
    }

    /*our client with testimonial css end*/
    body {
        font-family: 'Poppins', 'Montserrat', sans-serif;
    }

    h1,
    h2,
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        /* Bold for headings */
    }

    .resoucebg {
        background-image: linear-gradient(to right, #afcea9 0%, #bea6a6 90%, #be8cc2 100%);
    }

    .bggradientfooter {
        background-image: linear-gradient(to right, #d8d4b5 0%, #decaca 50%, #c8b0bd 100%);

    }



    .productbg1 {
        background-image: linear-gradient(to right, #92b187 0%, #bea6a6 50%, #afcea9 100%);
    }

    .changesize {
        font-size: 13px !important;
        margin: 0 5px;
        font-weight: bold !important;
    }

    .size {
        font-size: 30px !important;
        margin-top: 10px !important;
    }

    /*signup page css start*/
    /* Custom class for image hover overlay */
    .image-hover-overlay {
        position: relative;
    }

    .image-hover-overlay::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .image-hover-overlay:hover::before {
        opacity: 1;
    }

    /*THIS CSS FOR SIGNUP PAGE ONLY START*/

    .bg-gradient {
        background-image: -webkit-radial-gradient(#367580 30%, #085f6d 50%);
    }



    /*css for hover image than size incressing start here....*/
    /* Adding transition effects */
    .transition-transform {
        transition: transform 0.3s ease-in-out;
    }

    .transition-z {
        transition: z-index 0.3s ease-in-out;
    }

    .hover-z-10:hover {
        z-index: 10;
    }

    .hover-scale-110:hover {
        transform: scale(1.1);
    }

    /*css for hover image than size incressing end here....*/
</style>

<body>

    {{>navbar}}

    <!-- FIRST IMG PART START -->
    <div class="overflow-hidden w-full relative h-[430px] sm:h-104 xl:h-112 2xl:h-120">
        <div class="duration-700 ease-in-out w-full" data-carousel-item>

            <img src="../images/blog.jpg"
                class="block w-full h-[730px] object-cover bg-cover bg-center bg-no-repeat bg-opacity-10" alt="Slide 1">
        </div>
    </div>




    <!--    THIRD SECTION START  -->
    <!-- New Page Content (Initially Hidden) -->
    <div class="productbg1">
        <div class="container mx-auto px-4 py-16">
            <!-- Grid layout for left and right columns -->
            <div class="flex flex-col space-y-8">
                <!-- Card 1 -->
                <div
                    class="flex flex-col sm:flex-row items-center  sm:items-start space-x-4 p-4 rounded-lg shadow-md hover:shadow-none">
                    <a href="/">
                        <img src="../images/cloud.jpg" alt="Placeholder Image"
                            class="w-84 h-52 rounded mb-12 sm:mb-1 sm:mt-1 transition-transform transition-z hover-z-10 hover-scale-110"></a>
                    <div class="flex flex-col px-8">
                        <h3 class="text-xl font-bold text-blue-600 mb-2 ">Designing a Cost
                            Effective
                            Cloud Solution for your business.</h3>
                        <p class="text-slate-600 leading-7">Supported by a robust sales force and
                            tight cost controls,
                            Pharm
                            Ltd. experienced sustained double-digit growth over a number of years, only to find that
                            their
                            supply chain struggled to keep pace.</p>
                        <div class="max-w-24 my-4">
                            <span
                                class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-30">
                                <a href="/"><span>Read
                                        more&nbsp;</span><span class="text-orange-500"><i
                                            class="fas fa-chevron-right text-xs"></i></span></a>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div
                    class="flex flex-col sm:flex-row items-center  sm:items-start space-x-4 p-4 rounded-lg shadow-md  hover:shadow-none">
                    <a href="/">
                        <img src="../images/innovation.jpg" alt="Placeholder Image"
                            class="w-[410px] h-52 rounded mb-12 sm:mb-1 sm:mt-1 transition-transform transition-z hover-z-10 hover-scale-110"></a>
                    <div class="flex flex-col px-8">
                        <h3 class="text-xl font-bold text-blue-600 mb-2  ">Driving Innovation and
                            Automation across an Enterprise to Growth Hacking.</h3>
                        <p class="text-slate-600 leading-7">Supported by a robust sales force and
                            tight cost controls,
                            Pharm
                            Ltd. experienced sustained double-digit growth over a number of years, only to find that
                            their
                            supply chain struggled to keep pace.</p>
                        <div class="max-w-24 my-4">
                            <span
                                class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-30">
                                <a href=""><span>Read
                                        more&nbsp;</span><span class="text-orange-500"><i
                                            class="fas fa-chevron-right text-xs"></i></span></a>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div
                    class="flex flex-col sm:flex-row items-center  sm:items-start space-x-4 p-4 rounded-lg shadow-md  hover:shadow-none">
                    <a href="/">
                        <img src="../images/ecommerce.webp" alt="Placeholder Image"
                            class="w-[540px] h-52 rounded mb-12 sm:mb-1 sm:mt-1 transition-transform transition-z hover-z-10 hover-scale-110"></a>
                    <div class="flex flex-col px-8">
                        <h3 class="text-xl font-bold text-blue-600 mb-2">eCommerce Services
                            Guide:
                            Right from Proof-of-Concept to implementation.</h3>
                        <p class="text-slate-600 leading-7">Many businesses, large and small, have
                            a huge source of
                            great
                            ideas that can help them improve, innovate, and grow, and yet so many of these companies
                            never
                            think of using this amazing corporate asset. What is this highly valuable asset? Its own
                            people.</p>
                        <div class="max-w-24 my-4">
                            <span
                                class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-30">
                                <a href="/"><span>Read
                                        more&nbsp;</span><span class="text-orange-500"><i
                                            class="fas fa-chevron-right text-xs"></i></span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End section of product feature -->
        </div>
    </div>
    <!-- THIRD SECTION END -->


    {{!-- signup page start here --}}
    {{>signuppage}}
    {{!-- signup page end here --}}


    {{!-- Our client with Testimonial page start here --}}
    <div class="pb-28 clientbg">
        {{>clienttestimo}}
    </div>
    {{!-- Our client with Testimonial page end here --}}


    <!-- FOOTER START -->


    <!--footer start  -->

    <footer>
        <!-- this div used to separate copyright div -->
        <div
            class="pl-6 pr-4 pt-16 pb-6 text-slate-600 leading-8 text-pretty bggradientfooter text-sm md:pl-16 lg:flex lg:justify-evenly lg:pl-4 lg:pr-4 lg:pt-16">
            <!-- div for medium screen setup: Grouping logo, 1st list, services -->
            <div class="md:flex md:mb-10">
                <!-- div for medium screen setup: Grouping logo, 1st list -->
                <div class="md:pr-52 lg:p-2 lg:m-2 lg:w-60">
                    <!-- logo -->
                    <!-- Animated Logo -->
                    <h4 class="font-bold text-lg text-blue-600 relative z-10">MantraBytes</h4>
                    <hr class="border-b-2 mt-2 mb-3">
                    <!-- Animated Logo end -->
                    <!-- logo end -->
                    <!-- 1st list start -->
                    <div class="mb-6">
                        <ul class="list-inside listchange">
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    About Us</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Value
                                    Proposition</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Methodology</a>
                            </li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Team</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Management</a>
                            </li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Contact us</a></li>
                        </ul>
                    </div>
                    <!-- 1st list end -->
                </div>
                <!-- [div for medium screen setup: Grouping logo, 1st list] Ends here -->

                <!-- Services start -->
                <div class="mb-6 md:w-96 lg:p-2 lg:m-2 lg:w-60">
                    <h4 class="font-bold  text-blue-600 text-lg">Services</h4>
                    <hr class="border-b-2 mt-2 mb-3">
                    <ul class="list-inside listchange">
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Cloud
                                Transformation Solutions</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                AI and
                                Cognitive Analytics</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Enterprise
                                Cyber Security</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                IoT and
                                Automation</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Application
                                Development and
                                <span class="ml-3">Maintenance</span></a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                eBusiness
                                Digital Solutions</a></li>
                    </ul>
                </div>
                <!-- Services Ends-->
            </div>
            <!-- [div for medium screen setup: Grouping logo, 1st list, services] Ends here-->

            <!-- div for medium screen setup: Grouping Recent Posts, Subscribe, Social Link-->
            <div class="md:flex">
                <!-- Recent Posts -->
                <div class="mb-6 md:pr-7 lg:p-2 lg:m-2 lg:w-60">
                    <h4 class="font-bold  text-blue-600 text-lg">Recent Posts</h4>
                    <hr class="border-b-1 mt-2 mb-3">
                    <ul class="listchange">
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>
                                Designing a Cost
                                Effective Cloud Solution for your
                                business.</a>
                        </li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Driving
                                Innovation and <span class="ml-3"> Automation across an Enterprise
                                </span> <span class="ml-3">to Growth Hacking.</span></a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                E-Commerce
                                Services Guide: <span class="ml-3">Right from Proof-of-Concept to</span>
                                <span class="ml-3">simplementation.</span></a></li>
                    </ul>
                </div>
                <!-- Recent Posts Ends -->

                <!-- div for medium screen setup: Combining Subscribe, Social Link -->
                <div class="md:pl-10 lg:p-2 lg:m-2 lg:w-60 xl:ml-16">
                    <!-- Subscribe starts here -->
                    <div class="mb-6">
                        <h4 class="font-bold  text-blue-600 text-lg">Subscribe</h4>
                        <hr class="border-b-1 mt-2 mb-3 md:w-96 lg:w-full">
                        <div class="mt-7">
                            <input type="text"
                                class="bg-slate-300  w-full h-12 md:w-96 lg:w-full px-4 border border-transparent outline-none focus:border-[1px] rounded border-transition"
                                id="email-input" placeholder="ENTER YOUR EMAIL">
                            <p id="error-message" class="text-red-500 text-sm mt-2 hidden">Field is
                                required</p>
                            <button type="submit" id="subscribe-button"
                                class="bg-[#011bab] w-full h-12 text-white mt-5 rounded md:w-96 lg:w-full">Subscribe</button>

                        </div>
                    </div>
                    <!-- Subscribe Ends here -->

                    <!-- Social Link starts -->
                    <div>
                        <h4 class="font-bold  text-blue-600 text-lg">Social Links</h4>
                        <hr class="border-b-1 mt-2 md:w-96 lg:w-full">
                        <div class="flex justify-center">
                            <a target="_blank" href="http://www.linkedin.com" title="Follow us on Linkedin"><img
                                    src="https://s.yimg.com/fz/api/res/1.2/oPmnuoHGZwDmud64pDGAcQ--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/051c505f-dc29-3303-81b2-5828c6e3b2e2/t_500x300"
                                    alt="LinkedIn" class="h-5 ml-2 mr-2 mt-2"></a>
                            <a target="_blank" href="" title="Follow us on Facebook"><img
                                    src="https://www.teahub.io/photos/full/11-115962_facebook-logo-png-transparent-background-facebook-png.png"
                                    alt="Facebook" class="h-7 ml-2 mr-2 mt-1"></a>
                            <a target="_blank" href="https://www.instagram.com/" title="Follow us on Instagram"><img
                                    src="http://clipart-library.com/images_k/instagram-transparent-png/instagram-transparent-png-4.png"
                                    alt="Instagram" class="h-7 mt-1"></a>
                            <a target="_blank" href="" title="Follow us on Twitter"><img
                                    src="https://www.freeiconspng.com/uploads/circle-twitter-logo-png-photo-13.png"
                                    alt="Twitter" class="h-6 ml-2 mr-2 mt-[5px]"></a>

                        </div>
                    </div>
                    <!-- Social Link End -->
                </div>
                <!-- [div for medium screen setup: Combining Subscribe, Social Link] Ends here-->
            </div>
            <!-- [div for medium screen setup: Grouping Recent Posts, Subscribe, Social Link] Ends here-->
        </div>

        <!-- copyright starts here-->
        <div
            class="container px-5 py-8 mx-auto flex bg-blue-900 text-white body-font items-center sm:flex-row flex-col">
            <p class="text-sm text-center sm:text-left">© 2024 Mantrabytes Innovations — All rights
                reserved</p>
        </div>
        <!-- copyright Ends here-->

    </footer>

    <!--footer end  -->
    <!-- FOOTER END -->


    <script>

        // JS START FOR FOOTER
        const emailInput = document.getElementById('email-input');
        const subscribeButton = document.getElementById('subscribe-button');
        const errorMessage = document.getElementById('error-message');

        subscribeButton.addEventListener('click', function () {
            if (emailInput.value.trim() === '') {
                errorMessage.classList.remove('hidden');
                emailInput.classList.add('error-border');
            } else {
                errorMessage.classList.add('hidden');
                emailInput.classList.remove('error-border');
                // Add form submission logic here if needed
            }
        });

        // its js for input border transition
        emailInput.addEventListener('focus', function () {
            errorMessage.classList.add('hidden');
            emailInput.classList.remove('error-border');
        });

        emailInput.addEventListener('blur', function () {
            emailInput.classList.remove('error-border');
        });

    </script>

</body>

</html>