<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <!-- fontawesome icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- output file link in below -->
    <link rel="stylesheet" href=".styles/style.css">
    {{!-- below link for font-family --}}
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@400;600&display=swap"
        rel="stylesheet">
    {{!--
    <script src="https://cdn.tailwindcss.com"></script> --}}
</head>

<style>
    /*our client with testimonial css start*/
    .clientbg {
        background-image: linear-gradient(to right, #bf8cb5 0%, #bea6a6 50%, #b5d397 100%);
    }

    /*our client with testimonial css end*/

    body {
        font-family: 'Poppins', 'Montserrat', sans-serif;
    }

    h1,
    h2,
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        /* Bold for headings */
    }

    /*NAVBAR CSS START HERE*/

    .bggradientfooter {
        background-image: linear-gradient(to right, #d8d4b5 0%, #decaca 50%, #c286a6 100%);

    }


    /* Company overview start here */
    .custom-button {
        border-left-width: 4px;
        border-right-width: 4px;
        border-top-width: 1px;
        border-bottom-width: 4px;
        border-color: transparent;
        transition: border-color 0.3s;
    }

    .custom-button:hover {
        border-color: rgb(187, 26, 223);
    }

    .custom-button2 {
        border-left-width: 4px;
        border-right-width: 4px;
        border-color: transparent;
        transition: border-color 0.3s;
    }

    .custom-button2:hover {
        border-color: rgb(207, 130, 30);
    }

    /* Company overview end here */


    /*css start for six images by hover incresase size*/
    /* Adding transition effects */
    .transition-transform {
        transition: transform 0.3s ease-in-out;
    }

    .transition-z {
        transition: z-index 0.3s ease-in-out;
    }

    .hover-z-10:hover {
        z-index: 10;
    }

    .hover-scale-110:hover {
        transform: scale(1.1);
    }

    /*css end for six images by hover incresase size*/



    /*FOOTER start*/

    .listchange {
        list-style: none !important;
        font-size: 14px !important;
    }

    .listchange i {
        font-size: 10px !important;
    }

    .hidden {
        display: none;
    }

    .error-border {
        border-color: red !important;
    }

    /* Custom CSS for border transition */
    .border-transition {
        transition: border-color 0.5s ease;
    }

    .focus\:border-blue-500:focus {
        border-color: #3b82f6;
        /* Tailwind's blue-500 color */
    }

    .gradientbgcolor {
        background-image: linear-gradient(to right, #bcca87 0%, #dfd5d5 50%, #b8d28f 100%);
        width: 100%;

    }

    /*Footer*/
    /*footer logo css*/
    /* Styles for the animated logo */
    #mantraLogo {
        animation: changeColor 5s infinite alternate;
        cursor: pointer;
    }

    /* Keyframes for color change animation */
    @keyframes changeColor {
        0% {
            color: #FF9900;
        }

        25% {
            color: #FF00FF;
        }

        50% {
            color: #00FF00;
        }

        75% {
            color: #00FFFF;
        }

        100% {
            color: #FF0000;
        }
    }
</style>

<body>

    <!-- NAVBAR  START HERE-->
    {{>navbar}}
    <!-- NAVBAR END HERE-->

    <!-- CONTACTUS HOME PAGE IMAGE START HERE -->
    <div class="overflow-hidden w-full relative h-auto b-8">

        <img src="..//images/services.jpg"
            class="block w-full h-full sm:h-[40rem] object-cover bg-cover bg-center bg-no-repeat bg-opacity-50"
            alt="img not found">
    </div>
    <!-- CONTACTUS HOME PAGE IMAGE END HERE -->

    <!-- START  three link below in img  -->
    <!-- END  three link below in img  -->


    <!-- full middle part  start here -->
    <div class="flex flex-wrap lg:flex-wrap gradientbgcolor xl:pt-16 py-8">
        <!-- Left Side (70% width) -->
        <div class="w-full p-4 lfex flex-col sm:px-12">
            <div class="justify-center items-center">
                <div class="text-left mb-8">
                    <h2 class="text-2xl sm:text-3xl font-bold text-blue-900">Our Service</h2>
                    <div class="h-2 rounded-full bg-yellow-500 w-20  mt-2"></div>
                </div>
                <p>
                    <span class="text-slate-600 text-sm ">
                        Mantrabytes: Empowering Businesses Through Digital Innovation

                        The digital landscape is constantly evolving, and businesses need to adapt to leverage
                        cutting-edge technologies for success. Mantrabytes offers comprehensive services to help
                        organizations navigate this transformation journey.

                        We understand that businesses require a diverse range of skills and expertise to unlock the full
                        potential of digital transformation. Our team of computer science professionals collaborates
                        closely with clients to identify their specific needs and develop customized solutions that
                        drive business growth.

                        Our Services:

                        Conceptualization and Strategy: We work with you to define your digital transformation roadmap,
                        identifying opportunities and potential challenges. Our experts will help you select the most
                        suitable technologies (Cloud, IoT, Automation, AI/ML, etc.) to achieve your goals.
                        Development and Implementation: Our team of experienced developers brings your digital vision to
                        life. We leverage cutting-edge technologies to build robust and scalable solutions that
                        integrate seamlessly with your existing systems.
                        Data Management and Analytics: Data is the lifeblood of any successful digital transformation
                        strategy. We help you harness the power of your data through data management solutions and
                        advanced analytics, enabling you to gain valuable insights and make data-driven decisions.
                        Ongoing Support and Maintenance: We believe in building long-term partnerships with our clients.
                        Our dedicated support team ensures the smooth operation of your digital solutions and provides
                        ongoing maintenance to address evolving needs.
                        Benefits of Partnering with Mantrabytes:

                        Seamless Collaboration: We foster a collaborative environment, ensuring open communication and a
                        clear understanding of your business objectives.
                        Deep Industry Expertise: Our team possesses in-depth knowledge of various industries, allowing
                        us to tailor our solutions to your specific needs.
                        Focus on Quality: We are committed to delivering high-quality solutions that meet the highest
                        standards of excellence.
                        Proven Track Record: We have a proven history of success in helping businesses of all sizes
                        achieve their digital transformation goals.
                        Mantrabytes empowers businesses to embrace the transformative power of technology. By leveraging
                        our expertise and comprehensive services, you can unlock new opportunities, gain a competitive
                        edge, and achieve sustainable growth in the digital age.
                    </span>
                </p>
            </div>

            {{!-- img six part start here--}}
            <div class="gradientbgcolor w-full justify-center items-center h-auto  pt-12 ">



                <!-- first part of three images start-->


                <div class="">
                    <div
                        class="flex flex-col xl:flex-row text-center  items-center justify-center md:space-x-4 xl:space-x-16">

                        <!-- ALL Card -->
                        <div
                            class="iotcloud rounded-lg  lg:w-1/5 text-center items-center justify-center sm:my-16 lg:mt-1 my-8">
                            {{!-- <div class="justify-center items-center text-center m-auto"> --}}
                                <h2 class="text-xl mb-4 text-indigo-700 font-bold hover:text-indigo-900">ALL
                                </h2>
                                <div
                                    class="mb-16 h-1 xs:w-[310px] w-[200px]  rounded-full my-3 mx-auto bg-indigo-500 font-bold hover:bg-indigo-700">
                                </div>

                                <!-- <hr class="h-1 bg-slate-400 w-[310px] mb-16" /> -->

                                {{!--
                            </div> --}}
                            <div class="">
                                <div class="relative w-full sm:w-80 h-60 mx-auto image-hover-overlay">
                                    <a href="/">
                                        <img src="../images/first.jpg"
                                            class="w-full sm:w-64 sm:h-56 h-full object-cover transition-transform transition-z hover-z-10 hover-scale-110"
                                            alt="image not found">
                                    </a>
                                </div>
                                <div class="bg-orange-400 h-[6px] w-12 rounded-full my-2"></div>
                                <div class="text-left my-2 relative w-full sm:w-72 h-auto">
                                    <h class="text-blue-600 text-[18px] hover:text-orange-600">
                                        Mantrabytes: Digital Transformation Consulting
                                    </h>
                                    <p class=" text-slate-600 text-left mt-4 text-sm">
                                        Empowering Growth: Mantrabytes' Digital Transformation Consulting bridges the
                                        gap between technology and strategy. We analyze your business goals, assess your
                                        current IT landscape, and recommend the most suitable solutions (Cloud, IoT,
                                        Automation, AI/ML, etc.) to achieve your vision. We partner with you to craft a
                                        digital roadmap, optimize operations, and unlock the transformative power of
                                        technology, maximizing your competitive edge.
                                    </p>
                                </div>
                                <div class="max-w-44">
                                    <span
                                        class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-40">
                                        <a href="#"><span>Read more&nbsp;</span><span class="text-orange-500"><i
                                                    class="fas fa-chevron-right text-xs"></i></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <!-- INNOVATION Card -->
                        <div
                            class="iotcloud rounded-lg  lg:w-1/5 text-center items-center justify-center sm:mt-16 lg:mt-1 my-8">
                            {{!-- <div class="justify-center items-center text-center m-auto"> --}}
                                <h2 class="text-xl mb-4 text-indigo-700 font-bold hover:text-indigo-900">INNOVATION
                                </h2>
                                <div
                                    class="mb-16 h-1 xs:w-[310px] w-[200px]  rounded-full my-3 mx-auto bg-indigo-500 font-bold hover:bg-indigo-700">
                                </div>

                                <!-- <hr class="h-1 bg-slate-400 w-[310px] mb-16" /> -->

                                {{!--
                            </div> --}}
                            <div class="">
                                <div class="relative w-full sm:w-80 h-60 mx-auto image-hover-overlay">
                                    <a href="/">
                                        <img src="../images/second.jpeg"
                                            class="w-full sm:w-64 sm:h-56 h-full object-cover transition-transform transition-z hover-z-10 hover-scale-110"
                                            alt="image not found">
                                    </a>
                                </div>
                                <div class="bg-orange-400 h-[6px] w-12 rounded-full my-2"></div>
                                <div class="text-left my-2 relative w-full sm:w-72 h-auto">
                                    <h class="text-indigo-600 text-[18px] hover:text-orange-600">
                                        Mantrabytes: Digital Transformation Consulting
                                    </h>
                                    <p class="text-slate-500 text-left mt-4 text-[14px]">
                                        Thrive in the Digital Age: In today's dynamic business landscape, staying ahead
                                        requires constant innovation. Mantrabytes' Digital Transformation Consulting
                                        services serve as your strategic partner, propelling your company forward. We
                                        bridge the gap between technology and strategy, analyzing your needs and
                                        seamlessly integrating cutting-edge IT solutions (Cloud, IoT, Automation, AI/ML,
                                        etc.) to achieve your digital transformation goals.

                                    </p>
                                </div>
                                <div class="max-w-44">
                                    <span
                                        class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-40">
                                        <a href="#"><span>Read more&nbsp;</span><span class="text-orange-500"><i
                                                    class="fas fa-chevron-right text-xs"></i></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <!-- APPLICATION Card -->
                        <div
                            class="iotcloud rounded-lg  lg:w-1/5 text-center items-center justify-center sm:mt-16 lg:mt-1 my-8">
                            {{!-- <div class="justify-center items-center text-center m-auto"> --}}
                                <h2 class="text-xl mb-4 text-indigo-700 font-bold hover:text-indigo-900">APPLICATION
                                </h2>
                                <div
                                    class="mb-16 h-1 xs:w-[310px] w-[200px]  rounded-full my-3 mx-auto bg-indigo-500 font-bold hover:bg-indigo-700">
                                </div>

                                <!-- <hr class="h-1 bg-slate-400 w-[310px] mb-16" /> -->

                                {{!--
                            </div> --}}
                            <div class="">
                                <div class="relative w-full sm:w-80 h-60 mx-auto image-hover-overlay">
                                    <a href="/">
                                        <img src="../images/third.jpg"
                                            class="w-full sm:w-64 sm:h-56 h-full object-cover transition-transform transition-z hover-z-10 hover-scale-110"
                                            alt="image not found">
                                    </a>
                                </div>
                                <div class="bg-orange-400 h-[6px] w-12 rounded-full my-2"></div>
                                <div class="text-left my-2 relative w-full sm:w-72 h-auto">
                                    <h class="text-indigo-600 text-[18px] hover:text-orange-600">
                                        Mantrabytes: AI & Machine Learning Solutions
                                    </h>
                                    <p class=" text-slate-500 text-left mt-4 text-[14px]">
                                        Unlock Business Potential: Leverage the transformative power of AI and Machine
                                        Learning with Mantrabytes. We help you develop a data-driven AI strategy to
                                        improve performance across your business functions. Our Machine Learning
                                        expertise empowers you to extract hidden insights from data, enabling you to
                                        optimize operations, automate tasks, and gain a significant competitive
                                        advantage The provided text "Mantrabytes: AI & Machine Learning Solutions" is
                                        already perfect.
                                    </p>
                                </div>
                                <div class="max-w-44">
                                    <span
                                        class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-40">
                                        <a href="#"><span>Read more&nbsp;</span><span class="text-orange-500"><i
                                                    class="fas fa-chevron-right text-xs"></i></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <!-- INFRASTRUCTURE Card -->

                        <div
                            class="iotcloud rounded-lg  lg:w-1/5 text-center items-center justify-center xl:mt-12 sm:mt-16 my-8">
                            {{!-- <div class="justify-center items-center text-center m-auto"> --}}
                                <h2 class="text-xl mb-4 text-indigo-700 font-bold hover:text-indigo-900">INFRASTRUCTURE
                                </h2>
                                <div
                                    class="mb-16 h-1 xs:w-[310px] w-[200px]  rounded-full my-3 mx-auto bg-indigo-500 font-bold hover:bg-indigo-700">
                                </div>

                                <!-- <hr class="h-1 bg-slate-400 w-[310px] mb-16" /> -->

                                {{!--
                            </div> --}}
                            <div class="">
                                <div class="relative w-full sm:w-80 h-60 mx-auto image-hover-overlay">
                                    <a href="/">
                                        <img src="../images/four.png"
                                            class="w-full sm:w-64 sm:h-56 h-full object-cover transition-transform transition-z hover-z-10 hover-scale-110"
                                            alt="image not found">
                                    </a>
                                </div>
                                <div class="bg-orange-400 h-[6px] w-12 rounded-full my-2"></div>
                                <div class="text-left my-2 relative w-full sm:w-72 h-auto">
                                    <h class="text-indigo-600 text-[16px] hover:text-orange-600">
                                        Mantrabytes: Enterprise Application Integration (EAI)
                                    </h>
                                    <p class=" text-slate-500 text-left mt-4 text-[14px]">
                                        Streamline Operations: Break down data silos and unify your IT landscape with
                                        Mantrabytes' Enterprise Application Integration (EAI) solutions. Our EAI
                                        services act as a cloud-based conductor, seamlessly integrating your existing
                                        systems (legacy, on-premise, cloud) and automating workflows. Mantrabytes' EAI
                                        translates data formats, fosters information exchange, and empowers you to
                                        harness the collective power of your data for improved decision-making and
                                        operational efficiency.
                                    </p>
                                </div>
                                <div class="max-w-44">
                                    <span
                                        class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-40">
                                        <a href="#"><span>Read more&nbsp;</span><span class="text-orange-500"><i
                                                    class="fas fa-chevron-right text-xs"></i></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <!--  first part of three images end-->

                <!-- second part of three images start-->

                <div class="mb-28">
                    <div
                        class="flex flex-col xl:flex-row text-center  items-center justify-center space-y-4 md:space-y-0 md:space-x-4 xl:my-8  xl:space-x-16">
                        <!-- ONE Card -->
                        <div
                            class="iotcloud rounded-lg  lg:w-1/5 text-center items-center justify-center sm:mt-16 my-8">
                            <div class="xl:mt-8">
                                <div class="relative w-full sm:w-80 h-60 mx-auto image-hover-overlay">
                                    <a href="/">
                                        <img src="../images/five.webp"
                                            class="w-full sm:w-64 sm:h-56 h-full object-cover transition-transform transition-z hover-z-10 hover-scale-110"
                                            alt="image not found">
                                    </a>
                                </div>
                                <div class="bg-orange-400 h-[6px] w-12 rounded-full my-2"></div>
                                <div class="text-left my-2 relative w-full sm:w-72 h-auto">
                                    <h class="text-indigo-600 text-[15px] hover:text-orange-600">
                                        Mantrabytes: Outsourced Product Development
                                    </h>
                                    <p class="text-slate-500 text-left mt-4 text-[14px]">
                                        Accelerate your product vision with Mantrabytes' Outsourced Product Development.
                                        Leverage our global team of experts to design, develop, and test your product,
                                        freeing up your internal resources and speeding up your time-to-market. Gain
                                        access to cutting-edge technologies and benefit from cost optimization, making
                                        it ideal for both startups and established businesses.
                                    </p>
                                </div>
                                <div class="max-w-44">
                                    <span
                                        class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-40">
                                        <a href="#"><span>Read more&nbsp;</span><span class="text-orange-500"><i
                                                    class="fas fa-chevron-right text-xs"></i></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- TWO Card -->
                        <div
                            class="iotcloud rounded-lg  lg:w-1/5 text-center items-center justify-center sm:mt-16 xl:mt-80 mb-8">
                            <div class="">
                                <div class="relative w-full sm:w-80 h-60 mx-auto image-hover-overlay">
                                    <a href="/">
                                        <img src="../images/six.webp"
                                            class="w-full sm:w-64 sm:h-56 h-full object-cover transition-transform transition-z hover-z-10 hover-scale-110"
                                            alt="image not found">
                                    </a>
                                </div>
                                <div class="bg-orange-400 h-[6px] w-12 rounded-full my-2"></div>
                                <div class="text-left my-2 relative w-full sm:w-72 h-auto">
                                    <h class="text-indigo-600 text-[18px] hover:text-orange-600">
                                        Mantrabytes: Big Data & Analytics Solutions
                                    </h>
                                    <p class="text-slate-500 text-left mt-4 text-[14px]">
                                        Unlock the Power of Your Data: Extract hidden insights from your data with
                                        Mantrabytes' Big Data & Analytics Solutions. We leverage advanced analytics
                                        tools and techniques to transform massive datasets (structured & unstructured)
                                        into actionable intelligence. Gain a comprehensive understanding of your
                                        business, optimize operations, identify new opportunities, and make data-driven
                                        decisions to gain a competitive edge.
                                    </p>
                                </div>
                                <div class="max-w-44">
                                    <span
                                        class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-40">
                                        <a href="#"><span>Read more&nbsp;</span><span class="text-orange-500"><i
                                                    class="fas fa-chevron-right text-xs"></i></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- THREE Card -->
                        <div
                            class="iotcloud rounded-lg  lg:w-1/5 text-center items-center justify-center sm:mt-16 mb-16">
                            <div class="">
                                <div class="relative w-full sm:w-80 h-60 mx-auto image-hover-overlay">
                                    <a href="/">
                                        <img src="../images/seven.jpeg"
                                            class="w-full sm:w-64 sm:h-56 h-full object-cover transition-transform transition-z hover-z-10 hover-scale-110"
                                            alt="image not found">
                                    </a>
                                </div>
                                <div class="bg-orange-400 h-[6px] w-12 rounded-full my-2"></div>
                                <div class="text-left my-2 relative w-full sm:w-72 h-auto">
                                    <h class="text-indigo-600 text-[18px] hover:text-orange-600">
                                        Mantrabytes: IT Infrastructure Management
                                    </h>
                                    <p class="text-slate-500 text-left mt-4 text-[14px]">
                                        Ensuring Business Continuity: Focus on your core business while Mantrabytes
                                        takes care of your IT infrastructure. Our IT Infrastructure Management services
                                        ensure optimal performance, proactive issue identification, and robust data
                                        security for your critical systems. We act as your trusted partner, providing
                                        the stability and reliability you need to keep your business running smoothly.
                                    </p>
                                </div>
                                <div class="max-w-44">
                                    <span
                                        class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-40">
                                        <a href="#"><span>Read more&nbsp;</span><span class="text-orange-500"><i
                                                    class="fas fa-chevron-right text-xs"></i></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- FOUR Card -->
                        <div
                            class="iotcloud rounded-lg  lg:w-1/5 text-center items-center justify-center sm:mt-16 mb-16">
                            <div class="xl:mt-8">
                                <div class="relative w-full sm:w-80 h-60 mx-auto image-hover-overlay">
                                    <a href="/">
                                        <img src="../images/eight.png"
                                            class="w-full sm:w-64 sm:h-56 h-full object-cover transition-transform transition-z hover-z-10 hover-scale-110"
                                            alt="image not found">
                                    </a>
                                </div>
                                <div class="bg-orange-400 h-[6px] w-12 rounded-full my-2"></div>
                                <div class="text-left my-2 relative w-full sm:w-72 h-auto">
                                    <h class="text-indigo-600 text-[15px] hover:text-orange-600">
                                        Mantrabytes: Enterprise Application Integration (EAI)
                                    </h>
                                    <p class=" text-slate-500 text-left mt-4 text-[14px]">
                                        Break Down Data Silos & Streamline Operations: Unleash the power of unified data
                                        with Mantrabytes' Enterprise Application Integration (EAI) solutions. Our
                                        cloud-based EAI services act as a central hub, seamlessly connecting your
                                        on-premise systems, cloud applications, and databases. EAI translates data
                                        formats, automates workflows, and fosters information exchange, empowering you
                                        to make data-driven decisions and optimize operations. Mantrabytes' EAI
                                        eliminates data silos and unlocks new business opportunities by facilitating
                                        effortless integration across your entire IT landscape.
                                    </p>
                                </div>
                                <div class="max-w-44">
                                    <span
                                        class="cursor-pointer text-indigo-900 font-bold hover:text-orange-500 flex items-center space-x-3 max-w-40">
                                        <a href="#"><span>Read more&nbsp;</span><span class="text-orange-500"><i
                                                    class="fas fa-chevron-right text-xs"></i></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--  second part of three images end-->
            </div>

            {{!-- img six part end here--}}


            <div class="">
                <div class="text-left mb-8">
                    <h2 class="text-2xl font-bold text-blue-900">How can we Help?</h2>
                    <div class="h-2 rounded-full bg-yellow-500 w-24  mt-2"></div>
                </div>
                <p>
                    <span class="text-slate-600 text-sm ">
                        Mantrabytes: Leading the Digital Transformation Journey

                        The digital revolution is reshaping entire industries, creating both challenges and
                        opportunities for businesses. To thrive in this dynamic landscape, organizations need a diverse
                        skillset and a strategic approach to leverage cutting-edge technologies.

                        Mantrabytes has been at the forefront of digital transformation for over two decades. We offer
                        comprehensive services to guide businesses through every stage of their digital journey, from
                        initial planning to successful implementation.

                        Our Expertise:

                        Conceptualization and Strategy: Our team of experienced consultants works closely with you to
                        define your digital roadmap. We analyze your business goals, assess your current technology
                        landscape, and recommend the most suitable solutions (Cloud, IoT, Automation, AI/ML, etc.) to
                        achieve your vision.

                        Seamless Implementation: Our team of skilled developers transforms your digital vision into
                        reality. We leverage cutting-edge computer science expertise to design, develop, and integrate
                        robust solutions that seamlessly fit with your existing systems.

                        Data-Driven Decisions: We empower you to harness the power of your data. We develop data
                        management solutions and implement advanced analytics to provide valuable insights into your
                        operations, customer behavior, and market trends.

                        Unmatched Support: We believe in long-term partnerships. Our dedicated support team ensures the
                        smooth operation of your digital solutions and provides ongoing maintenance and security updates
                        to address evolving needs.

                        The Mantrabytes Advantage:

                        Proven Track Record: We have a well-established history of success, helping businesses of all
                        sizes – startups, SMEs, and Fortune 500 companies – achieve their digital transformation goals.

                        Deep Industry Knowledge: Our team possesses in-depth knowledge of various industries, allowing
                        us to tailor our solutions to your specific challenges and opportunities.

                        Focus on Quality and Security: We are committed to delivering high-quality solutions that meet
                        the highest standards of excellence. We prioritize robust security measures to protect your data
                        throughout the entire process.

                        Collaborative Approach: We foster a collaborative environment, working closely with you to
                        ensure clear communication and a complete understanding of your unique needs.

                        Partner with Mantrabytes and unlock the transformative power of technology. We are your trusted
                        guide on the path to digital success.
                    </span>
                </p>
            </div>

            <div class="">
                <div class="text-left mb-8 mt-20">
                    <h2 class="text-2xl font-bold text-blue-900">Our Partners</h2>
                    <div class="h-2 rounded-full bg-yellow-500 w-24  mt-2"></div>
                </div>
                <p>
                    <span class="text-slate-600 text-sm ">
                        Mantrabytes: Your Trusted Partner in Digital Transformation

                        Mantrabytes offers a comprehensive suite of services designed to empower businesses of all sizes
                        on their digital transformation journey. We leverage cutting-edge technologies like Cloud, IoT,
                        Automation, AI/ML, and Data Analytics to develop innovative solutions that address your specific
                        needs and fuel business growth.

                        Partnering with Mantrabytes provides you with several key advantages:

                        Seamless Transformation Journey: Our collaborative approach ensures clear communication and a
                        deep understanding of your business goals. We work closely with you throughout the entire
                        process, from conceptualization and strategy to development, implementation, and ongoing
                        support.

                        Industry-Specific Expertise: Our team possesses in-depth knowledge of various industries,
                        allowing us to tailor our solutions to your specific challenges and opportunities. We leverage
                        our industry insights to ensure your digital transformation initiatives align with your broader
                        business objectives.

                        Unmatched Quality and Efficiency: We are committed to delivering high-quality solutions that
                        meet the highest standards. Our team utilizes proven best practices and efficient processes
                        honed over two decades of experience to ensure successful project execution and optimal results.

                        Proven Success for All Business Sizes: We have a well-established track record of helping
                        businesses of all sizes, from startups and SMEs to Fortune 500 companies, achieve their digital
                        transformation goals. Our experience and expertise empower us to deliver solutions that scale
                        effectively with your evolving needs.

                        By partnering with Mantrabytes, you gain access to a team of passionate and experienced
                        professionals dedicated to your success. We take pride in fostering long-term relationships with
                        our clients, providing ongoing support and maintenance to ensure your digital solutions continue
                        to deliver value over time.

                        Embrace the transformative power of technology with Mantrabytes. Let us help you unlock new
                        opportunities, gain a competitive edge, and achieve sustainable growth in the digital era.
                    </span>
                </p>
            </div>

        </div>
    </div>
    <!-- full middle part  end here -->


    {{!-- signup page start here --}}
    {{>signuppage}}
    {{!-- signup page end here --}}


    {{!-- Our client with Testimonial page start here --}}
    <div class="pb-28 clientbg">
        {{>clienttestimo}}
    </div>
    {{!-- Our client with Testimonial page end here --}}


    {{!-- NetEdge At a Glance(video img) page start here --}}
    {{>videoimg}}
    {{!-- NetEdge At a Glance(video img) page end here --}}



    <!--footer start  -->


    <!--footer start  -->

    <footer>
        <!-- this div used to separate copyright div -->
        <div
            class="pl-6 pr-4 pt-16 pb-6 text-slate-600 leading-8 text-pretty bggradientfooter text-sm md:pl-16 lg:flex lg:justify-evenly lg:pl-4 lg:pr-4 lg:pt-16">
            <!-- div for medium screen setup: Grouping logo, 1st list, services -->
            <div class="md:flex md:mb-10">
                <!-- div for medium screen setup: Grouping logo, 1st list -->
                <div class="md:pr-52 lg:p-2 lg:m-2 lg:w-60">
                    <!-- logo -->
                    <!-- Animated Logo -->
                    <h4 class="font-bold text-lg text-blue-600 relative z-10">MantraBytes</h4>
                    <hr class="border-b-2 mt-2 mb-3">
                    <!-- Animated Logo end -->
                    <!-- logo end -->
                    <!-- 1st list start -->
                    <div class="mb-6">
                        <ul class="list-inside listchange">
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    About Us</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Value
                                    Proposition</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Methodology</a>
                            </li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Team</a></li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Management</a>
                            </li>
                            <li><a href="/" class="text-slate-600 hover:underline"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Contact us</a></li>
                        </ul>
                    </div>
                    <!-- 1st list end -->
                </div>
                <!-- [div for medium screen setup: Grouping logo, 1st list] Ends here -->

                <!-- Services start -->
                <div class="mb-6 md:w-96 lg:p-2 lg:m-2 lg:w-60">
                    <h4 class="font-bold  text-blue-600 text-lg">Services</h4>
                    <hr class="border-b-2 mt-2 mb-3">
                    <ul class="list-inside listchange">
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Cloud
                                Transformation Solutions</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                AI and
                                Cognitive Analytics</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Enterprise
                                Cyber Security</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                IoT and
                                Automation</a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Application
                                Development and
                                <span class="ml-3">Maintenance</span></a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                eBusiness
                                Digital Solutions</a></li>
                    </ul>
                </div>
                <!-- Services Ends-->
            </div>
            <!-- [div for medium screen setup: Grouping logo, 1st list, services] Ends here-->

            <!-- div for medium screen setup: Grouping Recent Posts, Subscribe, Social Link-->
            <div class="md:flex">
                <!-- Recent Posts -->
                <div class="mb-6 md:pr-7 lg:p-2 lg:m-2 lg:w-60">
                    <h4 class="font-bold  text-blue-600 text-lg">Recent Posts</h4>
                    <hr class="border-b-1 mt-2 mb-3">
                    <ul class="listchange">
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>
                                Designing a Cost
                                Effective Cloud Solution for your
                                business.</a>
                        </li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Driving
                                Innovation and <span class="ml-3"> Automation across an Enterprise
                                </span> <span class="ml-3">to Growth Hacking.</span></a></li>
                        <li><a href="/" class="text-slate-600 hover:underline"><i
                                    class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                E-Commerce
                                Services Guide: <span class="ml-3">Right from Proof-of-Concept to</span>
                                <span class="ml-3">simplementation.</span></a></li>
                    </ul>
                </div>
                <!-- Recent Posts Ends -->

                <!-- div for medium screen setup: Combining Subscribe, Social Link -->
                <div class="md:pl-10 lg:p-2 lg:m-2 lg:w-60 xl:ml-16">
                    <!-- Subscribe starts here -->
                    <div class="mb-6">
                        <h4 class="font-bold  text-blue-600 text-lg">Subscribe</h4>
                        <hr class="border-b-1 mt-2 mb-3 md:w-96 lg:w-full">
                        <div class="mt-7">
                            <input type="text"
                                class="bg-slate-300  w-full h-12 md:w-96 lg:w-full px-4 border border-transparent outline-none focus:border-[1px] rounded border-transition"
                                id="email-input" placeholder="ENTER YOUR EMAIL">
                            <p id="error-message" class="text-red-500 text-sm mt-2 hidden">Field is
                                required</p>
                            <button type="submit" id="subscribe-button"
                                class="bg-[#011bab] w-full h-12 text-white mt-5 rounded md:w-96 lg:w-full">Subscribe</button>

                        </div>
                    </div>
                    <!-- Subscribe Ends here -->

                    <!-- Social Link starts -->
                    <div>
                        <h4 class="font-bold  text-blue-600 text-lg">Social Links</h4>
                        <hr class="border-b-1 mt-2 md:w-96 lg:w-full">
                        <div class="flex justify-center">
                            <a target="_blank" href="http://www.linkedin.com" title="Follow us on Linkedin"><img
                                    src="https://s.yimg.com/fz/api/res/1.2/oPmnuoHGZwDmud64pDGAcQ--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/051c505f-dc29-3303-81b2-5828c6e3b2e2/t_500x300"
                                    alt="LinkedIn" class="h-5 ml-2 mr-2 mt-2"></a>
                            <a target="_blank" href="" title="Follow us on Facebook"><img
                                    src="https://www.teahub.io/photos/full/11-115962_facebook-logo-png-transparent-background-facebook-png.png"
                                    alt="Facebook" class="h-7 ml-2 mr-2 mt-1"></a>
                            <a target="_blank" href="https://www.instagram.com/" title="Follow us on Instagram"><img
                                    src="http://clipart-library.com/images_k/instagram-transparent-png/instagram-transparent-png-4.png"
                                    alt="Instagram" class="h-7 mt-1"></a>
                            <a target="_blank" href="" title="Follow us on Twitter"><img
                                    src="https://www.freeiconspng.com/uploads/circle-twitter-logo-png-photo-13.png"
                                    alt="Twitter" class="h-6 ml-2 mr-2 mt-[5px]"></a>

                        </div>
                    </div>
                    <!-- Social Link End -->
                </div>
                <!-- [div for medium screen setup: Combining Subscribe, Social Link] Ends here-->
            </div>
            <!-- [div for medium screen setup: Grouping Recent Posts, Subscribe, Social Link] Ends here-->
        </div>

        <!-- copyright starts here-->
        <div
            class="container px-5 py-8 mx-auto flex bg-blue-900 text-white body-font items-center sm:flex-row flex-col">
            <p class="text-sm text-center sm:text-left">© 2024 Mantrabytes Innovations — All rights
                reserved</p>
        </div>
        <!-- copyright Ends here-->

    </footer>
    <!--footer end  -->

    <!--footer end  -->




    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    <script>

        // footer js star
        const emailInput = document.getElementById('email-input');
        const subscribeButton = document.getElementById('subscribe-button');
        const errorMessage = document.getElementById('error-message');

        subscribeButton.addEventListener('click', function () {
            if (emailInput.value.trim() === '') {
                errorMessage.classList.remove('hidden');
                emailInput.classList.add('error-border');
            } else {
                errorMessage.classList.add('hidden');
                emailInput.classList.remove('error-border');
                // Add form submission logic here if needed
            }
        });

        // its js for input border transition
        emailInput.addEventListener('focus', function () {
            errorMessage.classList.add('hidden');
            emailInput.classList.remove('error-border');
        });

        emailInput.addEventListener('blur', function () {
            emailInput.classList.remove('error-border');
        });

    </script>

</body>

</html>